<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="WSDualHttpBinding_IChatService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/chat" binding="netTcpBinding"
                bindingConfiguration="WSDualHttpBinding_IChatService" contract="ServiceReference.IChatService"
                name="WSDualHttpBinding_IChatService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
